<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SymBlog</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
          integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="css/symblog.css">
</head>
<body>
<div class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="index.html"><i class="fas fa-pen-alt"></i>&nbsp;SymBlog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
            aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
        </ul>
        <a class="btn btn-outline-info mx-1 my-sm-0" href="#" data-toggle="modal" data-target="#articleModal">
            <i class="fas fa-plus-circle"></i> Ajouter&nbsp;&nbsp;&nbsp;&nbsp;
        </a>
        <a class="btn btn-outline-success mx-1 my-sm-0" href="sign.html">
            <i class="fas fa-sign-in-alt"></i> Connexion&nbsp;&nbsp;&nbsp;
        </a>
        <a class="btn btn-outline-danger mx-1 my-sm-0" href="registration.html">
            <i class="fas fa-user-circle"></i> Inscription
        </a>
    </div>
</div>
<div class="container-fluid blog my-3">
    <div class="row">
        <div class="col-md">
            <h4 class="my-0">Titre de l'article</h4>
            <div class="metadata">
                <i class="fas fa-calendar-alt"></i> 10/05/2018 à 19:00
                <i class="fas fa-cog"></i> Politique
                <i class="fas fa-user-circle"></i> achretien
            </div>
            <hr/>
            <img src="http://lorempixel.com/800/450/abstract/" class="img-fluid" alt="">
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto consectetur
                    corporis deserunt ea eligendi expedita incidunt inventore laudantium magni molestias natus
                    perferendis placeat quisquam ut vel, veritatis? Cupiditate fugiat harum impedit necessitatibus
                    nemo quaerat rerum soluta? At, sequi, veniam. Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Accusamus architecto consectetur corporis deserunt ea eligendi expedita incidunt inventore
                    laudantium magni molestias natus perferendis placeat quisquam ut vel, veritatis? Cupiditate fugiat
                    harum impedit necessitatibus nemo quaerat rerum soluta? At, sequi, veniam.</p>
            </div>
            <a href="view.html" class="btn btn-primary btn-sm mb-3"><i class="fas fa-eye"></i> Lire la suite</a>
        </div>
        <div class="col-md">
            <h4 class="my-0">Titre de l'article</h4>
            <div class="metadata">
                <i class="fas fa-calendar-alt"></i> 10/05/2018 à 19:00
                <i class="fas fa-cog"></i> Politique
                <i class="fas fa-user-circle"></i> achretien
            </div>
            <hr/>
            <img src="http://lorempixel.com/800/450/city/" class="img-fluid" alt="">
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto consectetur
                    corporis deserunt ea eligendi expedita incidunt inventore laudantium magni molestias natus
                    perferendis placeat quisquam ut vel, veritatis? Cupiditate fugiat harum impedit necessitatibus
                    nemo quaerat rerum soluta? At, sequi, veniam. Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Accusamus architecto consectetur corporis deserunt ea eligendi expedita incidunt inventore
                    laudantium magni molestias natus perferendis placeat quisquam ut vel, veritatis? Cupiditate fugiat
                    harum impedit necessitatibus nemo quaerat rerum soluta? At, sequi, veniam.</p>
            </div>
            <a href="view.html" class="btn btn-primary btn-sm mb-3"><i class="fas fa-eye"></i> Lire la suite</a>
        </div>
        <div class="col-md">
            <h4 class="my-0">Titre de l'article</h4>
            <div class="metadata">
                <i class="fas fa-calendar-alt"></i> 10/05/2018 à 19:00
                <i class="fas fa-cog"></i> Politique
                <i class="fas fa-user-circle"></i> achretien
            </div>
            <hr/>
            <img src="http://lorempixel.com/800/450/people/" class="img-fluid" alt="">
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto consectetur
                    corporis deserunt ea eligendi expedita incidunt inventore laudantium magni molestias natus
                    perferendis placeat quisquam ut vel, veritatis? Cupiditate fugiat harum impedit necessitatibus
                    nemo quaerat rerum soluta? At, sequi, veniam. Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Accusamus architecto consectetur corporis deserunt ea eligendi expedita incidunt inventore
                    laudantium magni molestias natus perferendis placeat quisquam ut vel, veritatis? Cupiditate fugiat
                    harum impedit necessitatibus nemo quaerat rerum soluta? At, sequi, veniam.</p>
            </div>
            <a href="view.html" class="btn btn-primary btn-sm mb-3"><i class="fas fa-eye"></i> Lire la suite</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <h4 class="my-0">Titre de l'article</h4>
            <div class="metadata">
                <i class="fas fa-calendar-alt"></i> 10/05/2018 à 19:00
                <i class="fas fa-cog"></i> Politique
                <i class="fas fa-user-circle"></i> achretien
            </div>
            <hr/>
            <img src="http://lorempixel.com/800/450/transport/" class="img-fluid" alt="">
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto consectetur
                    corporis deserunt ea eligendi expedita incidunt inventore laudantium magni molestias natus
                    perferendis placeat quisquam ut vel, veritatis? Cupiditate fugiat harum impedit necessitatibus
                    nemo quaerat rerum soluta? At, sequi, veniam. Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Accusamus architecto consectetur corporis deserunt ea eligendi expedita incidunt inventore
                    laudantium magni molestias natus perferendis placeat quisquam ut vel, veritatis? Cupiditate fugiat
                    harum impedit necessitatibus nemo quaerat rerum soluta? At, sequi, veniam.</p>
            </div>
            <a href="view.html" class="btn btn-primary btn-sm mb-3"><i class="fas fa-eye"></i> Lire la suite</a>
        </div>
        <div class="col-md">
            <h4 class="my-0">Titre de l'article</h4>
            <div class="metadata">
                <i class="fas fa-calendar-alt"></i> 10/05/2018 à 19:00
                <i class="fas fa-cog"></i> Politique
                <i class="fas fa-user-circle"></i> achretien
            </div>
            <hr/>
            <img src="http://lorempixel.com/800/450/animals/" class="img-fluid" alt="">
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto consectetur
                    corporis deserunt ea eligendi expedita incidunt inventore laudantium magni molestias natus
                    perferendis placeat quisquam ut vel, veritatis? Cupiditate fugiat harum impedit necessitatibus
                    nemo quaerat rerum soluta? At, sequi, veniam. Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Accusamus architecto consectetur corporis deserunt ea eligendi expedita incidunt inventore
                    laudantium magni molestias natus perferendis placeat quisquam ut vel, veritatis? Cupiditate fugiat
                    harum impedit necessitatibus nemo quaerat rerum soluta? At, sequi, veniam.</p>
            </div>
            <a href="view.html" class="btn btn-primary btn-sm mb-3"><i class="fas fa-eye"></i> Lire la suite</a>
        </div>
        <div class="col-md">
            <h4 class="my-0">Titre de l'article</h4>
            <div class="metadata">
                <i class="fas fa-calendar-alt"></i> 10/05/2018 à 19:00
                <i class="fas fa-cog"></i> Politique
                <i class="fas fa-user-circle"></i> achretien
            </div>
            <hr/>
            <img src="http://lorempixel.com/800/450/food/" class="img-fluid" alt="">
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto consectetur
                    corporis deserunt ea eligendi expedita incidunt inventore laudantium magni molestias natus
                    perferendis placeat quisquam ut vel, veritatis? Cupiditate fugiat harum impedit necessitatibus
                    nemo quaerat rerum soluta? At, sequi, veniam. Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Accusamus architecto consectetur corporis deserunt ea eligendi expedita incidunt inventore
                    laudantium magni molestias natus perferendis placeat quisquam ut vel, veritatis? Cupiditate fugiat
                    harum impedit necessitatibus nemo quaerat rerum soluta? At, sequi, veniam.</p>
            </div>
            <a href="view.html" class="btn btn-primary btn-sm mb-3"><i class="fas fa-eye"></i> Lire la suite</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md">
            <h4 class="my-0">Titre de l'article</h4>
            <div class="metadata">
                <i class="fas fa-calendar-alt"></i> 10/05/2018 à 19:00
                <i class="fas fa-cog"></i> Politique
                <i class="fas fa-user-circle"></i> achretien
            </div>
            <hr/>
            <img src="http://lorempixel.com/800/450/nature/" class="img-fluid" alt="">
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto consectetur
                    corporis deserunt ea eligendi expedita incidunt inventore laudantium magni molestias natus
                    perferendis placeat quisquam ut vel, veritatis? Cupiditate fugiat harum impedit necessitatibus
                    nemo quaerat rerum soluta? At, sequi, veniam. Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Accusamus architecto consectetur corporis deserunt ea eligendi expedita incidunt inventore
                    laudantium magni molestias natus perferendis placeat quisquam ut vel, veritatis? Cupiditate fugiat
                    harum impedit necessitatibus nemo quaerat rerum soluta? At, sequi, veniam.</p>
            </div>
            <a href="view.html" class="btn btn-primary btn-sm mb-3"><i class="fas fa-eye"></i> Lire la suite</a>
        </div>
        <div class="col-md">
            <h4 class="my-0">Titre de l'article</h4>
            <div class="metadata">
                <i class="fas fa-calendar-alt"></i> 10/05/2018 à 19:00
                <i class="fas fa-cog"></i> Politique
                <i class="fas fa-user-circle"></i> achretien
            </div>
            <hr/>
            <img src="http://lorempixel.com/800/450/business/" class="img-fluid" alt="">
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto consectetur
                    corporis deserunt ea eligendi expedita incidunt inventore laudantium magni molestias natus
                    perferendis placeat quisquam ut vel, veritatis? Cupiditate fugiat harum impedit necessitatibus
                    nemo quaerat rerum soluta? At, sequi, veniam. Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Accusamus architecto consectetur corporis deserunt ea eligendi expedita incidunt inventore
                    laudantium magni molestias natus perferendis placeat quisquam ut vel, veritatis? Cupiditate fugiat
                    harum impedit necessitatibus nemo quaerat rerum soluta? At, sequi, veniam.</p>
            </div>
            <a href="view.html" class="btn btn-primary btn-sm mb-3"><i class="fas fa-eye"></i> Lire la suite</a>
        </div>
        <div class="col-md">
            <h4 class="my-0">Titre de l'article</h4>
            <div class="metadata">
                <i class="fas fa-calendar-alt"></i> 10/05/2018 à 19:00
                <i class="fas fa-cog"></i> Politique
                <i class="fas fa-user-circle"></i> achretien
            </div>
            <hr/>
            <img src="http://lorempixel.com/800/450/sports/" class="img-fluid" alt="">
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus architecto consectetur
                    corporis deserunt ea eligendi expedita incidunt inventore laudantium magni molestias natus
                    perferendis placeat quisquam ut vel, veritatis? Cupiditate fugiat harum impedit necessitatibus
                    nemo quaerat rerum soluta? At, sequi, veniam. Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Accusamus architecto consectetur corporis deserunt ea eligendi expedita incidunt inventore
                    laudantium magni molestias natus perferendis placeat quisquam ut vel, veritatis? Cupiditate fugiat
                    harum impedit necessitatibus nemo quaerat rerum soluta? At, sequi, veniam.</p>
            </div>
            <a href="view.html" class="btn btn-primary btn-sm mb-3"><i class="fas fa-eye"></i> Lire la suite</a>
        </div>
    </div>
    <ul class="pagination justify-content-center">
        <li class="disabled page-item">
            <a class="page-link">&laquo;&nbsp;Précédent</a>
        </li>
        <li class="active">
            <a class="page-link" href="index.html">1</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="index.html">2</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="index.html">3</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="index.html">4</a>
        </li>
        <li class="page-item">
            <a class="page-link" href="index.html">5</a>
        </li>
        <li class="page-item">
            <a class="page-link" rel="next" href="index.html">Suivant&nbsp;&raquo;</a>
        </li>
    </ul>
</div>
<div id="footer">
    <div class="container">
        <div class="row">
            <div id="footer-copyright" class="col-md-3">
                <p>&copy; 2020 - Symblog</p>
            </div>
            <div id="footer-resources" class="col-md-9">
                <p>
                    Ceci est une <strong>application de démonstration</strong> construite avec le framework Symfony
                </p>
                <p>
                    Pour plus d'informations, consultez la <a href="https://symfony.com/doc">documentation de
                    Symfony</a>.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="articleModal" tabindex="-1" role="dialog" aria-labelledby="articleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="articleModalLabel">Ajouter un article</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i class="fas fa-times-circle" style="color:#e74c3c"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="title">Titre</label>
                    <input type="text" class="form-control" id="title" placeholder="Titre de l'article" required autofocus/>
                    <span id="titreHelp" class="help-block">Veuillez saisir un titre.</span>
                </div>
                <div class="form-group">
                    <label for="category" class="font-weight-bold">Catégorie</label>
                    <select class="custom-select" id="category" required>
                        <option value="">Lorem ipsum dolor sit amet.</option>
                        <option value="1">Lorem ipsum dolor sit amet.</option>
                        <option value="2">Lorem ipsum dolor sit amet.</option>
                        <option value="3">Lorem ipsum dolor sit amet.</option>
                    </select>
                    <span id="categoryHelp" class="help-block">Veuillez sélectionner une catégorie.</span>
                </div>
                <div class="form-group">
                    <label for="image">Image</label>
                    <input type="text" class="form-control" id="image" placeholder="URL de l'image" required/>
                    <span id="imageHelp" class="help-block">Veuillez saisir l'url d'une image.</span>
                </div>
                <div class="form-group">
                    <label for="content">Contenu</label>
                    <textarea class="form-control" placeholder="Contenu de l'article" id="content" rows="5"></textarea>
                    <span id="contentHelp" class="help-block">Veuillez saisir un contenu.</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary px-3 py-2 mr-2">
                    <i class="fas fa-save"></i> Enregistrer
                </button>
                <button type="button" class="btn btn-secondary px-3 py-2" data-dismiss="modal">
                    <i class="fa fa-ban"></i> Annuler
                </button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
