<div id="footer">
    <div class="container">
        <div class="row">
            <div id="footer-copyright" class="col-md-3">
                <p>&copy; 2020 - Symblog</p>
            </div>
            <div id="footer-resources" class="col-md-9">
                <p>
                    Ceci est une <strong>application de démonstration</strong> construite avec le framework Symfony
                </p>
                <p>
                    Pour plus d'informations, consultez la <a href="https://symfony.com/doc">documentation de
                    Symfony</a>.
                </p>
            </div>
        </div>
    </div>
</div>
